* {
    font-family: "Oswald" "Times New Roman", Times, serif;
}
nav {
  margin: 0;
  padding: 15px 2px;
}
nav li {
  list-style: none;
  font-weight: bolder;
  display: block;
  float: right;
  margin: 2px;
  border: 1px solid white;
  padding: 0.25%;
}

.banner {
  background-image: url("./images/banner.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;
  width: auto;
  margin: 2%;
  text-align: center;
}
.title {
  font-size: 70px;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  border: 3px solid white;
  padding: 70px 50px;
}
.bttn {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 20px;
}
.movies,
.tv {
  width: 100%;
  font-size: 35px;
  text-align: center;
  font-weight: bolder;
}
figure {
  display: inline-block;
  border: 1px;
  margin: 20px;
}
figure img {
  vertical-align: top;
  height: 400px;
  width: 250px;
  display: grid;
  object-fit: fill;
  text-align: left;
}
figure figcaption {
  text-align: center;
  border: 1px;
  font-size: 16px;
}
